.headr-container{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}

.headr-container > p {
  font-size: 1.2rem;
}

.headr-container > p > span{
  font-weight: bold;
  color: rgb(0 87 178);
}

.slds-card > hr{
  width: 80%;
  margin: 1rem auto 2rem;
}

.body-title-container{
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-right: 3.5rem;
}

.body-title-container > p{
  flex: 1;
}

.dev-name{
  color: #ebb800;
}

.admin-name{
  color: #7E7B15;
}

.manager-name{
  color: #07575B;
}

.record-type-container{
  display: flex;
}

.dev-container, .admin-container, .manager-container{
  display: flex;
  width: 33%;
  margin: 1rem;
  padding: 0 0 .5rem;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #c2c2c2;
}

.dev-edition{
  box-shadow: 0px 0px 5px #ebb800;
}

.admin-edition{
  box-shadow: 0px 0px 5px #7e7b15;
}

.manager-edition{
  box-shadow: 0px 0px 5px #07575b;
}

.comonent-todo{
  width: 100%;
}